/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --first-color: #f66b41;
  --first-color-alt: #f66b41;
  --title-color: rgb(203 213 225/ 1);
  --text-color: #f3f2f2;
  --text-color-light: rgb(100 116 139 /1);

  --body-background-color: #0f172a;
  --header-background-color: #1e293b;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Segoe UI", sans-serif;
  --biggest-font-size: 2rem;
  --bigger-font-size: 1.25rem;
  --h1-font-size: 2.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-thin: 100;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 800;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1025px) {
  :root {
    --biggest-font-size: 2.5rem;
    --bigger-font-size: 2rem;
    --h1-font-size: 3rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.2rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*============= CSS REUSABLE CODE ============= */
.max-container {
  max-width: 1152px;
  margin: 0 auto;
  padding: 0 1.4rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

main {
  overflow: hidden;
  /* For animation ScrollReveal */
}

/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-background-color);
  color: var(--text-color);
}

input,
textarea,
button,
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

input,
textarea,
button {
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

/* ======= MAIN LOGIN ======= */
.main-login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-login {
  width: 100vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  text-align: center;
  padding: 1rem 1rem;

  background-color: var(--header-background-color);
}

.left-login img {
  width: 250px;
}

.left-login h1 {
  color: var(--text-color);
  font-size: 1.8rem;
}

.right-login {
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-login {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  padding: 3rem 2rem;
  border-radius: 10px;

  background-color: var(--header-background-color);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}

.card-login h1 {
  color: var(--text-color);
  font-size: 1.5rem;
}

.card-login .button {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  color: var(--text-color);
  font-weight: 600;
  font-size: 1rem;
  background-color: #158e6d;
  cursor: pointer;
}

.card-login button:hover {
  background-color: #16ac84;
}

.textfield {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
}

.textfield > label {
  width: 100%;
  color: var(--text-color);
}

.textfield > input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  color: var(--text-color);
  background-color: #1b2336;
}

.textfield > input::placeholder {
  color: var(--text-color-light);
}

@media screen and (min-width: 1025px) {
  .main-login {
    flex-direction: row;
  }

  .left-login {
    height: 100vh;
  }
}
