/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 5.5rem;

  /*========== Colors ==========*/

  --first-color: #f66b41;
  --first-color-alt: #f66b41;
  --title-color: rgb(203 213 225/ 1);
  --text-color: #f3f2f2;
  --text-color-light: rgb(100 116 139 /1);

  --body-background-color: #0f172a;
  --header-background-color: #1e293b;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Segoe UI", sans-serif;
  --biggest-font-size: 2rem;
  --bigger-font-size: 1.25rem;
  --h1-font-size: 2.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-thin: 100;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 800;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1152px) {
  :root {
    --biggest-font-size: 2.5rem;
    --bigger-font-size: 2rem;
    --h1-font-size: 3rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.2rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*============= CSS REUSABLE CODE ============= */
.max-container {
  max-width: 1152px;
  margin: 0 auto;
  padding: 0 1.4rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 5rem;
}

.section-cards {
  padding-block: 5rem 0;
}

.section__title {
  font-size: var(--h2-font-size);
  padding-bottom: 10px;
  border-bottom: 2px solid var(--header-background-color);
  margin-bottom: 20px;
}

main {
  overflow: hidden;
  /* For animation ScrollReveal */
}

/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-background-color);
  color: var(--text-color);
}

input,
textarea,
button,
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

input,
textarea,
button {
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

/* =============== HEADER =============== */
header {
  height: var(--header-height);
  background-color: var(--header-background-color);
  align-content: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.nav__logo {
  width: 200px;
}

.nav__social {
  display: flex;
  gap: 0.6rem;
}

.nav__link {
  background: #fff;
  border-radius: 50%;
  padding: 0.2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 2rem;
  height: 2rem;
}

.nav__link i {
  color: #ffffff;
  font-size: 1rem;
}

.instagram-bg-color {
  background-color: #e1306c;
}

.x-bg-color {
  background-color: #4d9feb;
}

/* =============== BANNER =============== */
.banner {
  background-color: var(--header-background-color);
}

.banner__title,
.banner__subtitle {
  text-align: center;
  color: var(--title-color);
}

.banner__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 0.6rem;
}

.banner__subtitle {
  font-size: var(--h3-font-size);
  font-weight: var(--font-light);
  line-height: 1.6rem;
  max-width: 900px;
  margin: auto;
}

.banner__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.banner__button {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  color: var(--body-background-color);
  background-color: var(--title-color);

  border-radius: 0.4rem;
  padding: 0.6rem 2rem;

  margin-top: 2.5rem;
}

.banner__button i {
  font-size: 1.875rem;
}

/* =============== CARDS =============== */
.cards-container {
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.cards-container > a {
  display: flex;
}

.card {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  position: relative;
  background-color: var(--header-background-color);
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--header-background-color);
  border-radius: 0.5rem;
  opacity: 0.5;
}

.card:hover::before {
  opacity: 0;
}

.card i,
.card svg,
.card img {
  color: var(--text-color);
  font-size: 1.875rem;
  width: 1.8rem;
  z-index: 1;
}

.card p {
  max-width: 75%;
  color: var(--text-color);
  font-size: var(--normal-font-size);
  z-index: 1;
}

/* ==== CARDS BACKGROUND COLORS ===== */

.default-bg {
  background-color: #51388c;
}

.html-bg {
  background-image: linear-gradient(to right, #962a0d, #cc5534);
}
.css-bg {
  background-image: linear-gradient(to right, #003e81, #3473b5);
}
.javascript-bg {
  background-image: linear-gradient(to right, #978600, #ebd94e);
}
.es6-bg {
  background-image: linear-gradient(to right, #6b056b, #901494);
}
.mongodb-bg {
  background-image: linear-gradient(to right, #14532c, #4ade80);
}

/* Programming */
.devresources-bg {
  background-color: #003e81;
}

/* Artificial Intelligences */
.chatgpt-bg {
  background-color: rgb(74 161 129 / 1);
}

/* =============== FOOTER =============== */
footer {
  background-color: var(--header-background-color);
  margin-top: 5rem;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.footer__data {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.footer__logo {
  width: 100%;
  max-width: 300px;
}

.footer__text {
  color: var(--text-color-light);
}

.copy {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  border-top: 1px solid var(--text-color-light);
}

.footer__text-copy,
.footer__text-copy a {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

/* =============== MEDIA QUERIES =============== */
/* For small devices */
@media screen and (max-width: 340px) {
  .banner__title {
    font-size: 1.5rem;
  }

  .banner__buttons {
    flex-direction: column;
    align-items: center;
  }

  .banner__buttons :nth-child(n + 2) {
    /* Seleciona a partir do segundo filho */
    margin-top: 0;
  }

  .max-container {
    padding: 0.75rem;
  }

  .nav__social {
    display: none;
  }

  .section__title {
    font-size: 2rem;
  }

  .cards-container {
    grid-template-columns: 1fr;
  }
}

/* For medium devices */
@media screen and (min-width: 776px) {
  .banner__buttons {
    gap: 2rem;
  }
  .cards-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

/* For large devices */
@media screen and (min-width: 1152px) {
  .banner__subtitle {
    line-height: 2.2rem;
  }
  .cards-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
